@media (min-width: $breakpoint-tablet) {
    .feature-section {
        max-width: 660px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "header header"
            "supervisor supervisor"
            "team-builder karma"
            "calculator calculator";
        
        &__header {
            width: 540px;
            justify-self: center;
            margin-bottom: 42px;
            
            &-subtitle {
                @include text-2;
            }

            &-title {
                @include text-1;
            }

            &-description {
                @include text-4;
            }
        }
        
        &__card {
            width: 314px;
            
            &--supervisor {
                justify-self: center;
            }
            
            &--calculator {
                justify-self: center;
            }
        }
    }
}

@media (min-width: $breakpoint-desktop) {
    .feature-section {
        max-width: 1100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header"
            "supervisor team-builder calculator"
            "supervisor karma calculator";
        
        &__card {
            height: 280px;
            width: 100%;
            
            &--supervisor,
            &--calculator {
                align-self: center;
            }
        }
    }
}